body
{
    background-image: url('Mostic.png');
    background-position: unset ;
    background-size: cover;
    color: rgb(236, 17, 17);
}
#REACT
{
    text-align: center;
    color: darkmagenta;
}
a 
{
    text-decoration: none;
}

.GALLERY
{
    justify-content:center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    display: flex;
    color: darkmagenta;
    border: solid;
    border-radius: 25px;
    border-color: black;
}
#PILING
{
    color: darkslategray;
    background-color: wheat;
    border: solid;
    border-color: black;
}
.TITLEE:hover 
{
    font-family: Arial, sans-serif; 
    transform: scale(1.5); 
}
#Spisok
   {
    font-size:larger;
