p {
    color:blue;
    
}
.item {
    font-size: 30px;
}
#demo-selector {
    color: red;
}
li[value="7"]{
    color: darkblue;
}
#red {
   color: red;
}
#blue {
   color: blue ;
}
#orange {
    color: orange;
}
#brown {
    color: brown;
}
#darkblue {
    color: darkblue;
}
h2 {
    font-style: italic;
}
img {
    width: 150px;
    height: 50px;
}
* {
    text-align: center;
}
body {
    background:radial-gradient(at 63.831705729776786% 75.2770258677891%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 1) 0%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 0) 100%), radial-gradient(at 81.22494244116893% 1.768631581886515%, hsla(184.82758620689654, 100%, 82.94117647058823%, 1) 0%, hsla(184.82758620689654, 100%, 82.94117647058823%, 0) 100%), radial-gradient(at 7.05439022759784% 83.98184825586486%, hsla(267.2368421052632, 79.16666666666663%, 62.35294117647059%, 1) 0%, hsla(267.2368421052632, 79.16666666666663%, 62.35294117647059%, 0) 100%), radial-gradient(at 64.80234245835861% 49.35400478526777%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 1) 0%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 0) 100%), radial-gradient(at 56.77761606095548% 50.5886929181639%, hsla(184.82758620689654, 100%, 82.94117647058823%, 1) 0%, hsla(184.82758620689654, 100%, 82.94117647058823%, 0) 100%), radial-gradient(at 41.84339742807428% 72.39118890119292%, hsla(267.2368421052632, 79.16666666666663%, 62.35294117647059%, 1) 0%, hsla(267.2368421052632, 79.16666666666663%, 62.35294117647059%, 0) 100%), radial-gradient(at 77.96059954270827% 60.228647986069305%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 1) 0%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 0) 100%), radial-gradient(at 34.567099099809774% 22.33867877008311%, hsla(184.82758620689654, 100%, 82.94117647058823%, 1) 0%, hsla(184.82758620689654, 100%, 82.94117647058823%, 0) 100%), radial-gradient(at 40.97236624001519% 71.33850797549854%, hsla(267.2368421052632, 79.16666666666663%, 62.35294117647059%, 1) 0%, hsla(267.2368421052632, 79.16666666666663%, 62.35294117647059%, 0) 100%), radial-gradient(at 35.034194979118126% 97.77307033287312%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 1) 0%, hsla(344.63414634146346, 99.19354838709677%, 51.37254901960784%, 0) 100%), radial-gradient(at 44.59858207167875% 20.861993046652373%, hsla(184.82758620689654, 100%, 82.94117647058823%, 1) 0%, hsla(184.82758620689654, 100%, 82.94117647058823%, 0) 100%);
}
.head1 {
    background-color: #ff6600;
    color: white;
}
.head2 {
    background-color: #3366cc;
    color: white;
}